body {
    background-color: #243754;
    margin: 0;
}

img {
    object-fit: cover;
}

.header {
    background-color: #ebebeb;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.header h1 {
    color: #243754;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    /*FOR CENTER VERICALLY*/
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.identity {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.identity img {
    height: 300px;
    width: 300px;
}

.identity h3 {
    background-color: #243754;
    color: #ebebeb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center;
    width: 250px;
}

.photo {
    border: 5px solid lightgray;
    border-radius: 150px;
    height: 300px;
    width: 300px;
}

.detail:hover {
    background-color: #243754;
}

.detail:active {
    background-color: #243754;
}

.detail-logo img {
    height: 48px;
    width: 48px;
}

@media screen and (min-width: 881px) and (min-height: 616px) {
    .content-container {
        align-items: center;
        background-color: #ebebeb;
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 20px);
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .welcome-and-details-container {
        margin-left: 50px;
    }

    .welcome {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .titles-container {
        text-align: left;
    }

    .details-container {
        display: flex;
        flex-direction: column;
    }

    .detail-link {
        margin-bottom: 20px;
        text-decoration: none;
    }

    .detail {
        align-items: center;
        background-color: #94ae3f;
        border-radius: 7px;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .detail-logo {
        align-items: center;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        padding: 8px;
    }

    .detail h3 {
        color: #ebebeb;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
    }

    .detail p {
        color: gainsboro;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width: 881px) and (min-height: 491px) and (max-height: 615px) {
    .content-container {
        align-items: center;
        background-color: #ebebeb;
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 80px);
        justify-content: center;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    .welcome-and-details-container {
        margin-left: 50px;
    }

    .welcome {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
    }

    .titles-container {
        text-align: left;
    }

    .details-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .detail-link {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }

    .detail {
        align-items: center;
        background-color: #94ae3f;
        border-radius: 7px;
        display: flex;
        height: 140px;
        flex-direction: column;
        justify-content: center;
        width: 140px;
    }

    .detail-logo {
        align-items: center;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .detail h3 {
        color: #ebebeb;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    .detail p {
        display: none;
    }
}

@media screen and (max-width: 880px), screen and (max-height: 490px) {
    .content-container {
        align-items: center;
        background-color: #ebebeb;
        justify-content: center;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    .welcome-and-details-container {
        margin-top: 50px;
    }

    .welcome {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
    }

    .titles-container {
        text-align: center;
    }

    .details-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .detail-link {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }

    .detail {
        align-items: center;
        background-color: #94ae3f;
        border-radius: 7px;
        display: flex;
        height: 140px;
        flex-direction: column;
        justify-content: center;
        width: 140px;
    }

    .detail-logo {
        align-items: center;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .detail h3 {
        color: #ebebeb;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    .detail p {
        display: none;
    }
}